.about{
 border: 2px solid turquoise;
}
.about h1{

 font-size: 3rem;
 text-align: center;
 background-color: tomato;
 margin-top: 10px;
 color: aliceblue;
}

.btn{
 position: absolute;
 margin-left: 50%;
 margin-top: 200px;
 padding: 15px;
 width: 100px;
 background-color: tomato;
 color: white;
 text-shadow: 15px;
 border-radius: 25px;
 border: none;
}
.square{
 margin: 5px;
 width: 100px;
 height: 25px;
 font-size: 15px;
 border: none;
 background-color: orange;
 color: aliceblue;
 border-radius: 15px;
}